@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@500;600&display=swap");

html {
  scroll-behavior: smooth;
  background-color: #191E24; /* Cor de fundo e fontes dos subtitulos passaram no teste adobe contrast analyzer */
}

* {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

h3 {
  font-size: 2.0rem;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  position: sticky;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  top: 0;
  background-color: #191E24;
}

.logo {
  display: flex;
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

nav {
  display: flex;
  margin-left: auto;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #fffefe;
  font-size: 90%;
}

header::after {
  content: "";
  height: 1px;
  background: linear-gradient(to right, #222831 0%,  #222831 0%, 30%, #7755BE 100%);
  width: 100%;
  position: absolute;
  bottom: 0rem;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.sobre-section {
  justify-content: center;
  text-align: center;
  padding: 10rem 30rem;
  opacity: 0; /* Começa invisível */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Transições para a seção */
}

.sobre-section h3 {
  margin-bottom: 5rem;
  color: #9669FF;
}

.sobre-section.show {
  opacity: 1; /* Fica visível */
}

.sobre-section p {
  font-size: 1.3rem;
  color: #E2F1E7;
  line-height: 1.9;
  opacity: 0; /* Começa invisível */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Transições para o parágrafo */
  transform: translateX(-20rem); /* Adiciona um efeito de deslocamento horizontal inicial */
}

.sobre-section.show p {
  opacity: 1; /* Fica visível */
  transform: translateX(0); /* Remove o deslocamento horizontal */
}

.nome-animado {
  background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip:text; 
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to{
    background-position: 200%;
  }
  
}

.tecnologias-section {
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 6rem;
  font-size: 2.5rem; 
  padding-top: 5rem;
}

.tecnologias-section h3 {
  color: #9669FF;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.tecnologias-section.show {
  opacity: 1;
}

.tecnologias-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8rem 0;
  
}
.tecnologia {
  display: flex;
  color: white;
  width: 200px;
  height: 50px;
  padding: 1rem;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2.5rem;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  gap: 1rem;
  opacity: 0; /* Oculta inicialmente */
  transition: opacity 2.5s ease-out;
}

.tecnologia.show {
  opacity: 1;
  transform: translateY(0);
}

#html {
  background-color: #e44c2631;
  box-shadow: 0 0px 22px #e44c26; /* Adiciona sombra ao retângulo */
}

#css {
  background-color: #264de431;
  box-shadow: 0 0px 22px #264de4; /* Adiciona sombra ao retângulo */
}

#javascript {
  background-color: #f0db4f31;
  box-shadow: 0 0px 22px #f0db4f; /* Adiciona sombra ao retângulo */
}

#typescript {
  background-color: #007acc31;
  box-shadow: 0 0px 22px #007acc; /* Adiciona sombra ao retângulo */
}

#react {
  background-color: #61dafb31;
  box-shadow: 0 0px 22px #61dafb; /* Adiciona sombra ao retângulo */
}

#c {
  background-color: #a8b9cc31;
  box-shadow: 0 0px 22px #a8b9cc; /* Adiciona sombra ao retângulo */
}

#docker {
  background-color: #2496ed31;
  box-shadow: 0 0px 22px #2496ed; /* Adiciona sombra ao retângulo */
}

#springboot {
  background-color: #6db33f31;
  box-shadow: 0 0px 22px #6db33f; /* Adiciona sombra ao retângulo */
}

#figma {
  background-color: #f24e1e31;
  box-shadow: 0 0px 22px #f24e1e; /* Adiciona sombra ao retângulo */
}

#java {
  background-color: #00739631;
  box-shadow: 0 0px 22px #007396; /* Adiciona sombra ao retângulo */
}

#mongodb {
  background-color: #47A24831;
  box-shadow: 0 0px 22px #47A248; /* Adiciona sombra ao retângulo */
}

#node {
  background-color: #33993331;
  box-shadow: 0 0px 22px #339933; /* Adiciona sombra ao retângulo */
}

#python {
  background-color: #3776AB31;
  box-shadow: 0 0px 22px #3776AB; /* Adiciona sombra ao retângulo */
}

.contacts {
  text-align: center;
  padding-bottom: 5rem;
  bottom: 0;
  position: relative;
  opacity: 0; /* Começa invisível */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Transições para a seção */
  transform: translateX(-20rem);
}

.contacts.show {
  opacity: 1; /* Fica visível */
  transform: translateX(0);
}

.contacts h3 {
  margin-bottom: 10rem;
  color: #9669FF;
  
}

.contact-section {
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.social-button {
  width: 4rem; /* Aproximadamente 48px */
  height: 4rem; /* Aproximadamente 48px */
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.social-button svg {
  color: rgb(0, 0, 0);
  font-size: 2rem; /* Aproximadamente 20px */
  background: none;
}

.social-button:hover {
  transform: scale(1.2); /* Aumenta a escala no estado hover */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Aproximadamente 4px e 8px */
}

.whatsapp {
  background-color: #25D366;
}

.github {
  background-color: #333;
}

.linkedin {
  background-color: #0077B5;
}

.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


.projects-section {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 7rem;
  padding-bottom: 10rem;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .sobre-section {
    padding: 2rem 9rem;
  }

  .contact-section {
    gap: 5rem;
    padding: 2rem 9rem; /* Adiciona padding para a seção de contatos */
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1rem;
  }

  .logo {
    position: static;
    margin-bottom: 1rem;
  }

  nav {
    margin-left: 0;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  .sobre-section {
    padding: 2rem;
  }

  .contact-section {
    padding: 2rem; /* Adiciona padding para a seção de contatos */
    gap: 2rem; /* Ajusta o gap para a seção de contatos */
    
  }
}

@media (max-width: 480px) {
  .header {
    padding: 2.5rem;
    position: relative;
  }
  
  .sobre-section {
    padding: 1rem;
    margin-top: 4rem;
  }

  .contacts {
    opacity: 1;
    transform: translateX(0);
  }

  .contact-section {
    padding: 1rem; 
    gap: 3rem; 
  }

  .social-button {
    width: 2rem; /* Aproximadamente 48px */
    height: 2rem; /* Aproximadamente 48px */
  }
  

  .projects-section {
    padding-top: 0;
    padding-bottom: 5rem;
  }

  .tecnologias-section {
    padding-top: 2rem;
  }

  .social-button {
    width: 50px;
    height: 50px;
  }

}